@font-face {
    font-family: gothic;
    src: url(../FONTS/Gothic/Gothic13.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  font-family: gothic;
}
/* NAV ↓ */
nav{
  width: 100%;
  height: auto;
}

.top-nav{
  background-color: #2e4e8b;
  width: auto;
  height: 80px;
  display: flex;

}

.top-nav h1{
  margin: auto;
  color: #f4fff7;
  font-size: 3em;
}

#logo{
  width: auto;
  height: 100%;

}

.bot-nav{
  background-color: #8db9ff;
  padding: 10px;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

#nav-btns{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.nav-btn{
  border: solid 5px #f4fff7;
  color: #f4fff7;
  border-radius: 10px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.nav-btn:hover{
  background-color: #2e4e8b;
}

.nav-btn:active{
  background-color: #f4fff7;
}
/* MAIN ↓ */

main{
  width: 80%; 
  z-index: 0;
  margin: auto;
  margin-top: 35px;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Divs for each set ↓ */
.setBox{
  width: 600px;
  margin-bottom: 50px;
}

.setPic{

  float: left;
}

.setList{
  float: left;
  margin-left: 40px;
}

.readMore{
  clear: both;
  float: right;
  padding-right: 450px;  
 
}

a{
  color: #2e4e8b;
}

a:hover{
  color: #8db9ff;
}

a:active{
  color: #f4fff7;
}

/* Page for a specific set ↓*/

.setHeader{
  text-align: center;
}

#fullSet{
  display: flex;
  align-items: center; 
  flex-direction: column;
}

th{
  background-color: #d6d6d6;
  padding: 10px;
}

td{
  padding: 10px;
}

.centerText{
  text-align: center;
}

.nameTd{
  width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table{
  margin-top: 40px;
  width:100%;
  margin-bottom: 20px; 
}

.topTableHead{
  border: solid black 2px;
}

.tableHeader{
  text-align: center;
  padding: 10px;
  background-color: #8db9ff;
  border: solid #2e4e8b 5px;
}

/* for accordion tables ↓*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.2s;
  text-align: center;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  width: 100%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.pagination{
  width:100%;
  text-align: center;
}

/* For scrollspy ↓ */

#scrollspyBtns{
  width: 150px;
  padding: 5px;
  display: inline-flex;
  flex-direction: column;
  z-index:2;
  top: 400px;
  left: 20px;
  position: fixed;
  border: solid 2px #8db9ff;
  background-color: #f4fff7;
}

.scrollspyBtn{
  font-size: 20px;
  margin-bottom: 20px;
}

#scrollBtn4{
  margin: 0px;
}

